@model Lesson.Domain.VideoContent.Dto.CreateVideoContentInput
@using Abp.Web.Mvc.Extensions
@using Lesson.Domain.Homeworks.Dto;
@{
    ViewBag.Title = L("CreateHomeWork");
    ViewBag.ActiveMenu = PageNames.Homeworks;
}
@section scripts
{
    @Html.IncludeScript("~/Scripts/filepond/dist/filepond.js")
    @Html.IncludeScript("~/Scripts/filepond/dist/filepond.jquery.js")
    @Html.IncludeScript("~/Scripts/filepond/dist/filepond-plugin-file-encode.js")
    @Html.IncludeStyle("~/Scripts/filepond/dist/filepond.css")
    @Html.IncludeScript("~/Views/VideoContent/CreateVideoContent.js")
}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Create Video Content
                <small></small>
            </h2>
        </div>
        <div class="body">
            <form name="InsertHomeWork" class="form-horizontal">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Class Room</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.TextBox("Summary", Model.Summary, new { @class = "form-control", placeholder = "Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Class Room</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input class="filepond" id="mypond" type="file">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row clearfix">
                    <div class="col-sm-12">
                        <button type="button" id="btnSaveVideoContent" class="btn btn-primary m-t-15 waves-effect">Create Video Content</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>