@model Lesson.Domain.Homeworks.Dto.HomeworkFullOutPut
@using Abp.Web.Mvc.Extensions
@using Lesson.Domain.Homeworks.Dto;
@{
    ViewBag.Title = L("HomeworkDetail");
    ViewBag.ActiveMenu = PageNames.Homeworks;
}

@section scripts
{
    @Html.IncludeScript("~/Scripts/filepond/dist/filepond.js")
    @Html.IncludeScript("~/Scripts/filepond/dist/filepond.jquery.js")
    @Html.IncludeScript("~/Scripts/filepond/dist/filepond-plugin-file-encode.js")
    @Html.IncludeStyle("~/Scripts/filepond/dist/filepond.css")
    @Html.IncludeScript("~/Views/Homeworks/HomeworkDetail.js")


    @Html.IncludeScript("~/Scripts/VideoJs/dist/video.min.js")
    @Html.IncludeStyle("~/Scripts/VideoJs/dist/video-js.min.css")


}
<form>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Homework Detail
                </h2>

                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-4 col-xs-1 form-control-label">
                        <label for="email_address_2">ClassRoom</label>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.Label("Class", Model.ClassRoom.Name + " " + Model.ClassRoom.Branch, new { onchange = @"form.submit();", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-1 form-control-label">
                        <label for="password_2">Lesson</label>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.Label("Lesson", Model.Lesson.Name, new { onchange = @"form.submit();", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-1 form-control-label">
                        <label for="password_2">Delivery Date</label>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.Label("Deadline", Model.Deadline.ToString(), new { onchange = @"form.submit();", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="password_2">Summary</label>
                    </div>
                    <div class="col-lg-11 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.Label("Summary", Model.Summary, new { @class = "form-control", placeholder = "Summary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="password_2">Detail</label>
                    </div>
                    <div class="col-lg-11 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.Label("Description", Model.Description, new { @class = "form-control no-resize", placeholder = "Description" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-1 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="password_2">Video Content</label>
                    </div>
                    <div class="col-lg-11 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <video id="my-player" class="video-js" videoId="@Model.VideoContent.Id" controls preload="auto">
                                <source src="@Url.Action("GetVideoContentAsync","VideoContent",new { id = Model.VideoContent.Id })" type="video/mp4">

                                @*<source src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" type="video/mp4">*@

                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                                        supports HTML5 video
                                    </a>
                                </p>
                            </video>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-1 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="password_2">File</label>
                    </div>
                    <div class="col-lg-11 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <div class="filepond--root">
                                    <input class="filepond" id="mypond" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" id="btnSaveHomework" homeWorkId="@Model.Id">Submite Homework</button>

            </div>
        </div>
    </div>
</form>