@model List<Lesson.Domain.Homeworks.Dto.HomeworkFullOutPut>
@using Abp.Web.Mvc.Extensions
@using Lesson.Domain.Homeworks.Dto;
@using Lesson.Authorization;
@{
    ViewBag.Title = L("Homeworks");
    ViewBag.ActiveMenu = PageNames.Homeworks;
}
@section scripts
{
    @Html.IncludeScript("~/Views/Homeworks/Index.js")

    @Html.IncludeStyle("~/css/dataTables.bootstrap.css")
    @Html.IncludeScript("~/Scripts/jqueryDatatables/jquery.dataTables.js")
    @Html.IncludeScript("~/Scripts/jqueryDatatables/dataTables.bootstrap.js")

    <script>

        (function () {
            $(function () {
                $('#tblHomeworks').DataTable({
                    "language": {
                        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                    }
                });

            })
        })();
    </script>

}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Homeworks")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            @if (IsGranted(PermissionNames.Pages_HomeWorks_Create))
                            {
                                <li><a href="@Url.Action("CreateHomeWork", "Homeworks",new Lesson.Web.Models.Homeworks.HomeworkViewModel { Deadline=DateTime.Now})" class="waves-effect waves-block class_room_students"><i class="material-icons">accessibility</i>@L("CreateHomework")</a></li>
                            }
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>

                    </li>
                </ul>
            </div>

            <div class="body"> 
                <div class="table" >
                    <table id="tblHomeworks" role="grid" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Lesson</th>
                                <th>Class Room</th>
                                <th>Summary</th>
                                <th>Delivery Date</th>
                                <th>Teacher Name</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rollCall in Model)
                            {
                                <tr>
                                    <td>@rollCall.Lesson.Name</td>
                                    <td>@rollCall.ClassRoom.Name @rollCall.ClassRoom.Branch</td>
                                    <td>@rollCall.Summary</td>
                                    <td>@rollCall.Deadline</td>
                                    <td>@rollCall.User.Name @rollCall.User.Surname</td>
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            @if (IsGranted(PermissionNames.Pages_HomeWorks_Create))
                                            {
                                                <li><a href="@Url.Action("SubmittedHomeworks", "HomeWorks",new GetHomeworkInput{ Id=rollCall.Id})" class="waves-effect waves-block class_room_students"><i class="material-icons">accessibility</i>@L("SubmittedHomeworks")</a></li>
                                            }


                                            <li><a href="@Url.Action("HomeworkDetail", "HomeWorks",new GetHomeworkInput{ Id=rollCall.Id})" class="waves-effect waves-block class_room_students"><i class="material-icons">accessibility</i>@L("Details")</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table> 
                </div> 
            </div> 
        </div>
    </div>
</div>