@model List<Lesson.Domain.LessonsOfClassRoom.Dto.LessonOfClassRoomFullOutPut>
@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = L("Students");
    ViewBag.ActiveMenu = "MyLessons";
}
@section scripts
{
    @Html.IncludeScript("~/Views/Lessons/LessonOfClassRoom.js")

    @Html.IncludeStyle("~/css/dataTables.bootstrap.css")
    @Html.IncludeScript("~/Scripts/jqueryDatatables/jquery.dataTables.js")
    @Html.IncludeScript("~/Scripts/jqueryDatatables/dataTables.bootstrap.js")

    <script>

        (function () {
            $(function () {
                $('#tblLessons').DataTable({
                    "language": {
                        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                    }
                });

            })
        })();
    </script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("LessonList")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="tblLessons" role="grid" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                        <tr>
                            <th>ClassRoom Name</th>
                            <th>Lesson Name</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lesson in Model)
                        {
                            <tr>
                                <td>@lesson.ClassRoom.Name</td>
                                <td>@lesson.Lesson.Name</td>
                                <td>@lesson.User.Name @lesson.User.Surname</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
